body {
  background-color: #0f0f1a;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}
.custom-navbar {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}
.navbar-brand {
  font-size: 1.5rem;  
  font-weight: 700;
  color: #ffffff !important;
  pointer-events: none;  
}
.nav-link {
  font-size: 1.1rem;  
  color: #ccc !important;
  transition: 0.3s;
}
.nav-link:hover {
  color: #00bfff !important;
}
.hero-section {
  min-height: 100vh;
  padding-top: 100px;
}
.hero-title {
  font-size: 2.8rem;
  font-weight: bold;
  animation: fadeUp 1s ease-in-out;
}
.highlight {
  color: #00bfff;
}
.hero-text {
  font-size: 1.1rem;
  color: #b5b5b5;
  animation: fadeUp 1.5s ease-in-out;
}
.hero-btn {
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.3s;
}
.hero-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00bfff;
}
.hero-img {
  width: 280px;      
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #00bfff;
  box-shadow: 0 0 30px #00bfff;
  animation: fadeIn 2s ease-in-out;

  transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.hero-img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 45px #00bfff;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.welcome-text{
  color:#00bfff;
  font-size:20px;
  margin-bottom:10px;
  letter-spacing:1px;
  animation: fadeUp 1s ease-in-out;
}
.typing-text{
  font-size:1.7rem;
  font-weight:600;
  margin-top:10px;
  background: linear-gradient(90deg,#00bfff,#00ffff);
    -webkit-background-clip: text;
  background-clip: text;
  color:transparent;

  animation: fadeUp 1s ease-in-out;
}

.cursor{
  color:#00bfff;
  font-weight:bold;
  animation:blink 1s infinite;
}

@keyframes blink{
  0%{opacity:1;}
  50%{opacity:0;}
  100%{opacity:1;}
}

.social-icons a{
  color:white;
  font-size:24px;
  margin-right:26px;
  transition:0.3s;
}

.social-icons a:hover{
  color:#00bfff;
  transform:translateY(-4px) scale(1.15);
}



.about-section {
  background-color: #111122;
  padding: 80px 0;
}
.section-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #00bfff;
}
.section-subtitle {
  color: #b0b0b0;
  font-size: 1rem;
  margin-top: 10px;
}
.about-text {
  color: #cfcfcf;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 18px;
}
.about-info p {
  margin-bottom: 6px;
  font-size: 0.95rem;
}
.about-card {
  background: #1a1a2e;
  padding: 18px;
  border-radius: 12px;
  transition: 0.3s ease;
  border: 1px solid rgba(0, 191, 255, 0.15);
  height: 100%;
}

.about-icon {
  font-size: 1.7rem;
  color: #00bfff;
  margin-bottom: 8px;
}

.about-card h6 {
  font-weight: 600;
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 0.95rem;
}

.about-card p {
  font-size: 0.8rem;
  color: #cccccc;
  margin: 0;
}

.about-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.3);
}


.skills-section {
  background-color: #0f0f1a;
  padding: 80px 0;
}
.skill-card {
  background: #1a1a2e;
  padding: 30px 20px;
  border-radius: 15px;
  transition: 0.3s ease;
  border: 1px solid rgba(0, 191, 255, 0.15);
  height: 100%;
}
.skill-card h5 {
  font-weight: 600;
  margin-bottom: 12px;
  color: #ffffff;
}
.skill-card p {
  font-size: 0.9rem;
  color: #cccccc;
  margin: 0;
}
.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 191, 255, 0.3);
}
.skill-svg{
  width:20px;
  height:20px;
  margin-right:10px;
}
.skills-row{
display:grid;
grid-template-columns: repeat(5, 1fr);
gap:25px;
margin-top:25px;
}
.skill-icon-box{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
}

.skill-icon-box i,
.skill-icon-box img{
width:60px;
height:60px;
display:flex;
align-items:center;
justify-content:center;
background:#0f0f1a;
border-radius:12px;
padding:12px;
font-size:32px;
}

.skill-icon-box p{
margin-top:8px;
font-size:13px;
color:#cccccc;
}

.skill-icon-box:hover i,
.skill-icon-box:hover img{
transform:translateY(-5px);
box-shadow:0 0 15px #00bfff;
transition:0.3s;
}



.projects-section {
  background-color: #111122;
  padding: 80px 0;
}
.project-card {
  background: #1a1a2e;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease;
  border: 1px solid rgba(0, 191, 255, 0.15);
  height: 100%;
}
.project-img-wrapper {
  position: relative;
}
.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project-date {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #00bfff;
  color: #000;
  padding: 5px 12px;
  font-size: 0.75rem;
  border-radius: 20px;
  font-weight: 600;
}
.project-content {
  padding: 20px;
}
.project-content h5 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
}
.project-content p {
  color: #cccccc;
  font-size: 0.9rem;
}
.feature-title {
  font-size: 0.9rem;
  color: #00bfff;
  margin-top: 10px;
}
.feature-list {
  padding-left: 18px;
  color: #cccccc;
  font-size: 0.85rem;
}
.tech-tags span {
  background: rgba(0, 191, 255, 0.15);
  color: #00bfff;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 0.75rem;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
.project-btn {
  background: #00bfff;
  color: #000;
  font-weight: 600;
  border-radius: 20px;
  padding: 6px 15px;
  margin-top: 10px;
}
.project-btn:hover {
  background: #0099cc;
  color: #fff;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 191, 255, 0.3);
}


.cert-section {
  background-color: #0f0f1a;
  padding: 100px 0;
}

.cert-card {
  background: #1a1a2e;
  border-radius: 18px;
  border: 1px solid rgba(0, 191, 255, 0.12);
  overflow: hidden;
  height: 100%;
  transition: 0.3s ease;
}

.cert-img-wrapper{
  position: relative;
}

.cert-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cert-arrow{
  position: absolute;
  bottom: 12px;
  right: 12px;
  background: #0088ff;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
}

.cert-content{
  padding: 22px;
}

.cert-content h5{
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.cert-company{
  color: #00bfff;
  font-size: 1rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}
.cert-date{
  color: #0088ffc7;
  font-size: 0.85rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}
.cert-content p{
  color: #bfbfbf;
  font-size: 0.9rem;
  line-height: 1.6;
}

.cert-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(0, 191, 255, 0.25);
}


.education-section{
  background:#111122;
  padding:100px 0;
}

.timeline-horizontal{
  display:flex;
  justify-content:space-between;
  position:relative;
  margin-top:50px;
}

.timeline-horizontal::before{
  content:'';
  position:absolute;
  top:10px;
  left:0;
  width:100%;
  height:3px;
  background:#00bfff;
  z-index:0;
}

.timeline-item{
  position:relative;
  text-align:center;
  width:30%;
  z-index:1;
}

.timeline-dot{
  width:20px;
  height:20px;
  background:#00bfff;
  border-radius:50%;
  margin:0 auto 15px auto;
}

.timeline-item h5{
  color:#fff;
  font-weight:600;
}

.edu-location{
  color:#00bfff;
  font-size:0.85rem;
  display:block;
}

.edu-date{
  display:block;
  color:#cccccc;
  font-size:0.8rem;
  margin:5px 0;
}

.edu-score{
  color:#bfbfbf;
  font-size:0.85rem;
}

.achievements-section{
  background:#0f0f1a;
  padding:100px 0;
}

.achievement-card{
  background:#1a1a2e;
  border-radius:15px;
  padding:30px;
  text-align:center;
  border:1px solid rgba(0,191,255,0.12);
  transition:0.3s ease;
  height:100%;
}

.achievement-icon{
  font-size:32px;
  color:#00bfff;
  margin-bottom:15px;
}

.achievement-card p{
  color:#cccccc;
  font-size:0.95rem;
  line-height:1.6;
}

.achievement-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 25px rgba(0,191,255,0.25);
}

.contact-section {
  background-color: #111122;
  padding: 100px 0;
}
.connect-text {
  max-width: 750px;
  margin: 0 auto;
}
.connect-text h5 {
  color: #00bfff;
  font-weight: 600;
  margin-bottom: 10px;
}
.connect-text p {
  color: #bfbfbf;
  font-size: 0.95rem;
  line-height: 1.6;
}
.contact-info {
  background: #1a1a2e;
  padding: 35px;
  border-radius: 20px;
  border: 1px solid rgba(0, 191, 255, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}
.contact-item i {
  font-size: 1.5rem;
  color: #00bfff;
  margin-right: 15px;
  margin-top: 4px;
}
.contact-item h6 {
  margin: 0;
  color: #ffffff;
  font-weight: 600;
}
.contact-item p,
.contact-item a {
  margin: 5px 0 0 0;
  color: #bfbfbf;
  text-decoration: none;
  font-size: 0.9rem;
}
.contact-item a:hover {
  color: #00bfff;
}
.contact-form-wrapper {
  background: #1a1a2e;
  padding: 35px;
  border-radius: 20px;
  border: 1px solid rgba(0, 191, 255, 0.12);
}
.form-heading {
  color: #00bfff;
  margin-bottom: 20px;
  font-weight: 600;
}
label {
  color: #cccccc;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
}
.form-control {
  background: #0f0f1a;
  border: 1px solid rgba(0, 191, 255, 0.2);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.form-control:focus {
  border-color: #00bfff;
  box-shadow: none;
  background: #0f0f1a;
  color: #ffffff;
}
.send-btn {
  background: #00bfff;
  color: #000;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 10px;
}
.send-btn:hover {
  background: #0099cc;
  color: #fff;
}
.form-message {
  margin-top: 15px;
  font-size: 0.9rem;
}